html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.b-image {
    background-image: url(../image/image1.jpg);
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}